*{
  box-sizing: border-box;
}

body{
  background-color: #e6e6e6;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.page-wrapper{
  overflow: hidden;
  max-width: 390px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.header{
  color: #FFFFFF;
  padding: 9px 29px 218px;
  background: linear-gradient(0deg, rgba(70, 70, 70, 0.2), rgba(70, 70, 70, 0.2)), url('../img/header_img.jpg') no-repeat center / cover ;
  border-radius: 0px 0px 30px 30px;
}

.hello{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500px;
}

.hello-text{
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
}

.container{
  max-width: 300px;
  margin: auto;
}

.user{
  margin-top: -85px;
  margin-bottom: 12px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom: 20px;
}

.user-avatar{
  margin-top: -43px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #FFFFFF;
}

.user-name{
  margin-top: 9px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.user-description{
  color: #6B6B6B;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;  
}